<p id="notice"><%= notice %></p>
<% if @posts.length == 0 %> 
 <h1>No Posts &#9785;</h1>
 <% else %> 
<h1>All Posts</h1>

<table>
  <thead>
    <tr>
      <th>Posts</th>
      <th>Poster</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= post.dog.name %></td>
        <td><%= link_to 'Details', post %></td>
        <% if current_dog == post.dog %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
<%= link_to 'New Post', new_post_path %>



