<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Dog:</strong>
  <%= @post.dog.name %>
</p>
<p>
  <strong>Likes:</strong>
  <%= @post.get_likes.size %>
</p>
<%= link_to 'Like', like_path(:id => @post.id)  %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
